
@{
    ViewData["Title"] = "Projects";
}


<h1>Projects</h1>

<ul>
    <li>
        <a href="https://github.com/MayamRezaee/HangMan_V.02">HangMan</a>
        <p>
            Hangman är ett klassiskt spel som traditionellt spelas med papper och penna där en spelare
            kommer på ett ord och den andra spelaren försöker gissa vad det är.
            Varje rätt gissad bokstav skrivs på alla de ställen där den förekommer i ordet.
            Det klassiska spelet kommer till liv i denna onlineversion.
            Kan du gissa varje ord innan teckningen av den hängande gubben är klar?
            Sorce koden till den här spelet kan ni hitta i min Github konto. Den här spelet har jag skrivit i C#.

        </p>
    </li>
    <li>
        <a href="https://github.com/MayamRezaee/VendingMachine"> VendingMachine</a>
        <p>
            En vendingmachine är en automat som säljer föremål som snacks, drycker, cigaretter
            och lotter till konsumenter efter att kontanter har satts in i automaten.
        </p>
    </li>

    

</ul>
